{
  "app": {
    "guid": "ca99b7d8-c3d3-4c15-8d36-bc98fdf68590",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.projetodesalav3",
    "artifactId": "io.cronapp.apps.projetodesalav3"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": false,
    "exposeDataSources": false,
    "exposeEntities": false,
    "exposeBlocklys": false,
    "exposeAuth": false
  },
  "security": {
    "token": "Y2E5OWI3ZDgtYzNkMy00YzE1LThkMzYtYmM5OGZkZjY4NTkw",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "security.oauth2.client.accessTokenUri": "accessTokenUri",
      "cronapp.framework.mailer.username": "breno.albergaria@fieb.org.br",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.client.userAuthorizationUri": "userAuthorizationUri",
      "security.oauth2.saml.maxAuthenticationAge": "7200",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.resource.userInfoUri": "userInfoUri",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "clientId",
      "cronapp.framework.mailer.password": "Fieb@8564",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "security.oauth2.saml.forceAuthN": "false",
      "cronapp.framework.mailer.port": "587",
      "spring.output.ansi.enabled": "ALWAYS",
      "security.oauth2.client.clientSecret": "clientSecret",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "cronapp.security.authentication": "true",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "authentication": "Token",
      "appid": "io.cronapp.apps.projetodesalav3",
      "backend": "true",
      "theme": "Aquamarine",
      "availableSignup": "true",
      "includeauth": "false",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 6,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "proxy": {
    "host": "",
    "port": ""
  },
  "fixedTimeZone": true,
  "timeZone": "AGT",
  "cors": "*",
  "corsMethods": "*",
  "corsHeaders": "*",
  "projectName": "Sistema de Reserva de Salas",
  "timeZoneOffset": -180,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "Aquamarine",
      "searchableText": "AquamarineO tema Aquamarine utiliza o padrão de HTML e CSS do Bootstrap 🆕",
      "themeDescription": "O tema Aquamarine utiliza o padrão de HTML e CSS do Bootstrap 🆕",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1808027321.png",
      "themePath": "node_modules/cronapp-framework-js/css/themes/aquamarine.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "Aquamarine",
      "searchableText": "AquamarineO tema Aquamarine utiliza o padrão de HTML e CSS do Bootstrap 🆕",
      "themeDescription": "O tema Aquamarine utiliza o padrão de HTML e CSS do Bootstrap 🆕",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1808027321.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/aquamarine.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": "src/main/webapp/css/skins/padrão.css",
      "skinRelativePath": "css/skins/padrão.css"
    },
    "mobileSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    }
  },
  "saveAuditLog": 365,
  "showStackTrace": true,
  "locale": "pt_BR",
  "biometricAuthentication": false,
  "extraHeaders": [],
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}