<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" cloudDatabaseKey="" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" logAbandoned="true" name="jdbc/main" password="nG^pFuSWs$!Z" profile="DEV" removeAbandoned="" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:sqlserver://10.1.0.90\DEV;databaseName=DB_RESERVA_SALA_NOVO" username="usr_reserva_novo"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
</Context>
